{% extends 'base.html.twig' %}

{% block title %}Edit Candidate
{% endblock %}

{% block body %}
	<section class="page-title page-title-bg fixed-bg overlay dark-5 padding-top-160 padding-bottom-80">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="white-text">Your profile</h2>
					<span class="white-text">Personnal & Professionnal informations</span>

				</div>
			</div>
		</div>
	</section>

	{{ include('candidate/_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %}
